allow mediaserver lge_diag_device:chr_file { read write open ioctl };
allow mediaserver camera_prop:property_service { set };

allow mediaserver persist_data_file:dir { search };
